.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f8f8;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.menu-link {
  text-decoration: none;
  color: black;
}

.menu-link:hover {
  color: blue;
  text-decoration: underline;
}

.navbar-auth {
  display: flex;
  gap: 10px;
}

.btn {
  cursor: pointer;
}
